.errors {
  /* border-color: #e74c3c; */
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(231, 76, 60, 0.5);
}
.lert-Btn {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lert-Btn button {
  margin-top: 0;
}
.lert-Btn div {
  margin-bottom: 0 !important;
}
.page-block {
  position: relative;
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.page-block .btn {
  position: absolute;
  right: 0;
}
.trash-id {
  position: absolute;
  right: 0;
  top: 40%;
  opacity: 0;
}
.trash-id.active {
  right: -45px;
  width: 38px;
  height: 38px;
  display: flex;
  border-radius: 50%;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.25s;
  opacity: 1;
}
.trash-id.active:hover {
  box-shadow: 1px 1px 10px #ccc;
  cursor: pointer;
  color: red;
}
