.errors {
  /* border-color: #e74c3c; */
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(231, 76, 60, 0.5);
}
.lert-Btn {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lert-Btn button {
  margin-top: 0;
}
.lert-Btn div {
  margin-bottom: 0 !important;
}
.page-block {
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;
}
.trash-id {
  position: absolute;
  right: 0;
  top: 45%;
}
